* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

body {
  background-color: #f7f7f7;
}

#logo {
  display: block;
  margin: 60px auto;
}

#nav_container {
  height: 50px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 40px;
  justify-content: center;
}

.navegador {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 15px 25px;
  border-radius: 5px;
  border: 2px solid white;
}

.navegador:hover {
  border: 2px solid red;
}

#conteudo_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  margin: 60px auto;
}

#nsdescription {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
  padding: 80px 40px;
  background-color: white;
  position: relative;
}

#nsdescription::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 4px;
  background-color: red;
  position: absolute;
  top: 30px;
  right: -30px;
}

#nsdescription > h2 {
  font-size: 2rem;
}

#nsdescription > p {
  text-align: right;
  font-size: 1.3rem;
}

#nsdescription > a {
  text-decoration: none;
  background-color: red;
  padding: 15px 25px;
  width: 80px;
  color: white;
  border-radius: 5px;
  text-align: center;
}

#nsdescription > a:hover {
  background-color: #900;
}

#bicicleta {
  max-width: 100%;
}

#subtitulo_vantagens {
  font-size: 4rem;
  background-color: #f7f7f7;
  background-image: url(./img/onda.svg);
  color: #c6c6c6;
  text-align: right;
  padding: 40px;
  align-self: center;
}

#vantagens {
  padding: 40px;
  background-color: white;
}

.vantagens-items:nth-child(odd) {
  background-color: #f7f7f7;
}

.vantagens-items {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
  border-left: 4px solid transparent;
}

.vantagens-items:hover {
  border-left: 4px solid red;
}

.vantagens-items > p {
  grid-area: 2/2;
  font-size: 1.3rem;
}

footer {
  text-align: center;
  background-color: white;
  padding: 40px;
  font-size: 1.3rem;
}

@media (max-width: 1000px) {
  #conteudo_container {
    display: block;
    max-width: 90%;
    margin: 60px calc(100%-10px);
  }

  #nsdescription {
    display: flex;
    align-items: center;
  }

  #nsdescription > p {
    text-align: center;
  }

  #nsdescription::before {
    width: 30px;
    right: 0px;
  }

  #subtitulo_vantagens {
    text-align: center;
  }
}

@media (max-width: 630px){
  html{
    font-size: 80%;
  }

  #conteudo_container {
    max-width: 100%;
    margin: 0px;
  }

  #subtitulo_vantagens {
    font-size: 3rem;
  }

  #nav_container {
    height: 50px;
    gap: 7px;
  }

  #nav_container li{

    font-size: 1rem;
  }

  .navegador{
    padding: 5px;
  }

  #nsdescription {
    padding: 40px;
  }
}
